body {
    color: rgb(17, 237, 246);
    font-family:"poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.parent{
    border-radius: 30px;
    background: transparent;
    backdrop-filter:blur(2px);
    box-shadow: 0 0 20px aqua;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-bottom: 15px;
}

h1{
    text-align: center;
}
video{
    height: 250px;
    transform: scaleX(-1);
}
canvas{
    height: 250px;
    margin-right: 180px;
    margin-bottom: 15px;
    transform: scaleX(-1);
}
button{
    margin-left:0px;
    padding: 15px;
    border: 30px;
    margin-top: 0px;
    border-radius: 10px;
    border-color: rgb(83, 188, 233) ;
    font-weight: bold;
    background-color: rgb(34, 92, 230);
    color: rgb(17,237,246);

}
.but3{
    margin-left:0px;
    padding: 15px;
    border: 30px;
    margin-top: 0px;
    border-radius: 10px;
    border-color: rgb(83, 188, 233) ;
    font-weight: bold;
    background-color: rgb(34, 92, 230);
    color: rgb(17,237,246);
}
.bgvideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
@media (min-aspect-ratio:16/9) {
    .bgvideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .bgvideo{
        width: auto;
        height: 100%;
    }
}